* {
    margin: 0;
    padding: 0;
}

h1{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

h2{
   font: bold 14 px sans-serif;
}

header, section, footer, aside, nav, article, hgroup {
    border: 1 px solid black;
}

body {
text-align: center;
}

.agrupar{
    background-color: aliceblue;
    border: 1px solid black;
    width: 980px;
    margin-top: 100px;
    margin: 15 px auto;
    padding: 100px;
}

.agrupar header{
    background: #fffbb9;
    border: 1px solid #999999;
    padding: 20px;
}

.menu{
    background-color: #ccc;
    padding: 5px 15px;
    text-align: left;
}

.menu li{
    list-style: none;
    padding: 5px;
    font: bold 14px verdana;
    display: inline-block;
}

.encabezado h1{
    text-align: left;
}

.seccion{
    margin: 20px;
    width: 60%;
    border: 1px solid black;
    float: left;
    background-color: darkgrey;
}

.columna{
    width: 30%;
    border: 1px solid black;
    float: left;
    margin: 20px 0;
    background-color: cornflowerblue;
}

.pie{
    clear:both;
}